.wallet {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.page-selector {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.page-selector h2 {
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--text-color);
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.page-selector h2.selected {
    font-weight: 600;
    scale: 1.05;
    opacity: 1 !important;
    transition: all 0.2s ease-in-out;
}

.page-selector h2:hover {
    opacity: 0.8;
    scale: 1.05;
    transition: all 0.2s ease-in-out;
}