.modal-overlay {
    position: fixed;
    bottom: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    --transition-duration: 300ms;
    transition: opacity var(--transition-duration) ease-in-out;
}

.modal-overlay.visible {
    opacity: 1;
}

.modal-overlay.hidden {
    opacity: 0;
}

.modal-content {
    padding-top: 1.5rem;
    border-radius: 12px;
    position: relative;
    overflow-y: auto;
    transition: transform var(--transition-duration) ease-in-out, 
                opacity var(--transition-duration) ease-in-out;
}

.modal-content.visible {
    transform: translateY(0);
    opacity: 1;
}

.modal-content.hidden {
    transform: translateY(20px);
    opacity: 0;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Add Modal specific styles */
.add-modal .modal-content {
    width: 90%;
    max-width: 350px;
}